// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #0d6efd;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$light-gray: #f4f4f4;
$purple: #4e4c67;
$light-green: #9dc3c2;
$grey: #efeae6;
$main-color: $purple;
$purplish-white: #efeefc;
$hover-purple: #252536;
$card-white: #eceaff
