<div id="footer">
  <div class="container">
    <div class="row text-center mt-5">
      <h2>Reach out to the developers</h2>
    </div>
    <div class="footer-links row text-center my-3">
      <div class="col-sm">
        <h4>Brian</h4>
        <a href="https://github.com/nairdesigns" target="_blank" rel="noopener noreferrer"><i class="fab fa-github mx-3"></i></a>
        <a href="https://nairbdg.wixsite.com/nairbmusic" target="_blank" rel="noopener noreferrer"><i class="fa fa-globe mx-3"></i></a>
        <a href="mailto:nairbdg@gmail.com"><i class="fa fa-envelope mx-3"></i></a>

      </div>
      <div class="col-sm">
        <h4>Markie</h4>
        <a href="https://github.com/markiecyt" target="_blank" rel="noopener noreferrer"><i class="fab fa-github mx-3"></i></a>
        <a href=""><i class="fa fa-globe mx-3"></i></a>
        <a href=""><i class="fa fa-envelope mx-3"></i></a>

      </div>
    </div>
    <div class="footer-links row text-center  my-3 mt-5">
      <div class="col-sm">
        <h4>Arthur</h4>
        <a href="https://github.com/abauville" target="_blank" rel="noopener noreferrer"><i class="fab fa-github mx-3"></i></a>
        <a href=""><i class="fa fa-globe mx-3"></i></a>
        <a href=""><i class="fa fa-envelope mx-3"></i></a>

      </div>
      <div class="col-sm mb-5 ">
        <h4>Kanae</h4>
        <a href="https://github.com/km111444" target="_blank" rel="noopener noreferrer"><i class="fab fa-github mx-3"></i></a>
        <a href=""><i class="fa fa-globe mx-3"></i></a>
        <a href=""><i class="fa fa-envelope mx-3"></i></a>

      </div>
    </div>
  </div>
</div>
