<div class="footer">
  <div class="footer-contact">
    <h4>Questions?</h4>
    <p>Contact:000-0000-000</p>
  </div>
  <div class="footer-forrow">
      <p>Follow us!</p>
    <div class="footer-links">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
  </div>
</div>
