<div id="footer">
  <div class="container">
    <div class="row text-center mt-3">
      <h5>Reach out to the developers</h5>
    </div>
    <div class="footer-links row text-center my-3">
      <div class="col-sm">
        <p>Brian</p>
        <a href="https://github.com/nairdesigns" target="_blank" rel="noopener noreferrer"><i class="fab fa-github mx-3"></i></a>
        <a href="https://nairbdg.wixsite.com/nairbmusic" target="_blank" rel="noopener noreferrer"><i class="fa fa-globe mx-3"></i></a>
        <a href="mailto:nairbdg@gmail.com"><i class="fa fa-envelope mx-3"></i></a>
      </div>
      <div class="col-sm">
        <p>Markie</p>
        <a href="https://github.com/markiecyt" target="_blank" rel="noopener noreferrer"><i class="fab fa-github mx-3"></i></a>
        <a href=""><i class="fa fa-globe mx-3"></i></a>
        <a href=""><i class="fa fa-envelope mx-3"></i></a>
      </div>
      <div class="col-sm">
        <p>Arthur</p>
        <a href="https://github.com/abauville" target="_blank" rel="noopener noreferrer"><i class="fab fa-github mx-3"></i></a>
        <a href=""><i class="fa fa-globe mx-3"></i></a>
        <a href=""><i class="fa fa-envelope mx-3"></i></a>
      </div>
      <div class="col-sm">
        <p>Kanae</p>
        <a href="https://github.com/km111444" target="_blank" rel="noopener noreferrer"><i class="fab fa-github mx-3"></i></a>
        <a href=""><i class="fa fa-globe mx-3"></i></a>
        <a href=""><i class="fa fa-envelope mx-3"></i></a>
      </div>
    </div>
  </div>
</div>
