<div class="d-flex">
  <div class="flex-grow-1">
    <h1 class="index-title text-center mt-4">Uploaded Exercises</h1>
    <% @exercises.each do |exercise| %>
      <%= render "teacher_exercise_card", {exercise: exercise} %>
    <% end %>
  </div>
  <div id="button-container">
    <%= link_to new_exercise_path, id: "teacher-ex-card-button-add" do %>
      <p class="teacher-ex-card-button ms-3">Add new exercise</p>
    <% end %>
  </div>

</div>
