<div class="card-trip mx-5 p-5">
  <%# <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" /> %>
      <h1 class="text-center pt-5">Congratulations!</h1>
      <div class="form-group ">
        <%= form_with  do |form| %>
          Share your thoughts:
          <%= form.text_field :title, class: "form-control mt-1", placeholder: "Your thoughts" %>

        <% end %>
      </div>
      <h6 class="mt-4">Previous comments on this excercise:</h6>
      <div class="border border-dark rounded mt-2 px-2 text-center">
        <p class="my-3"> this was a great exercise!</p>
      </div>
      <p >@tom</p>
      <div class="border border-dark rounded mt-2 px-2 text-center">
        <p class="my-3"> too difficult!</p>
      </div>
      <p>@sam_tom</p>

      <%# <h2 class="card-trip-pricing">£99.99</h2> %>
      <%#     <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> %>
  </div>
</div>
