<div class="card-review mx-5 my-4 px-5 py-4">
  <div class="card-review-infos mx-5">
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-review-user avatar-bordered" />
    <div>
      <h2>@tommy_yum_soup</h2>
      <p>posted on 11/11/11</p>
    </div>
    <%# <h2 class="card-review-pricing">£99.99</h2> %>
  </div>
  <p class="mx-5 mb-3">Order not fully filled. I emailed yesterday and I have not had a response. Will not recommend this company until this issue is resolved. You are supposed to receive 2 buckets 1 with breakfast and 1 with entrees. I only received the breakfast bucket</p>
</div>
