<div class="teacher-exercise-card p-3 m-5">
  <p class="d-flex flex-column justify-content-center">105</p>
  <div class="d-flex flex-column justify-content-evenly p-3 ms-4">
    <p class="mb-0 lw-text-header">Title of exercise</p>
    <p class="mb-0 lw-text-description">| - V - |</p>
  </div>
  <div class="d-flex flex-grow-1 align-items-center justify-content-end me-5">
    <p class="teacher-ex-card-button me-5">View Comment</p>
    <p class="teacher-ex-card-button">Edit</p>
  </div>
</div>
