<div class="banner">
  <div class="container">
    <h1 class="navbar-brand">Melodict</h1>
    <p class="my-4 py-2">Challenge yourself, make music together.</p>
    <div class="d-flex justify-content-start col-4">
      <%= link_to "See Exercises", exercises_path, class: "exercise-button text-center" %>
    </div>
  </div>
</div>
