<div class="banner">
  <div class="container">
    <h1 class="navbar-brand">Melodict</h1>
    <p>Challenge yourself, make music together.</p>
  <div class="justify-content-center col-12">
     <%# <p class="exercise-button col-3 text-center">See Exercises!</p> %>
     <%= link_to "See Exercises", exercises_path, class: "exercise-button col-3 text-center" %>
  </div>
  </div>
</div>
