<h1>This is a test page</h1>

<div data-controller="score" id="score-controller">
  <div id="score" data-score-target="score"></div>
  <p data-score-target="output"></p>
  <a href="#" data-action="score#draw" class="btn btn-primary">VF draw</a>
</div>
