.banner {
  background-size: cover;
  object-fit: cover;
  background-position: center;
  padding: 160px 0;
  background-position-y: -184px;
  background-repeat: no-repeat;
  height: 135vh;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.25)), url(https://images.unsplash.com/photo-1593698054590-a5b3a19565a3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80);
  background: brightness(50%);
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 80px;
  padding: 0;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: 0.7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
