.teacher-ex-card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #83b7b5;
  color: rgb(238, 238, 238);
  font-weight: 600;
  min-height: 20px;
  min-width: 90px;
  font-size: 18px;
  border-radius: 16px;
  max-height: 80px;
  margin-bottom: 0;
  padding: 12px 32px;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    background-color: #7c9b9a;
    color: rgb(238, 238, 238);
  }
}

.card-result button {
  background-color: $primary;
  border-color: $primary;
  color: white;
  &:hover {
    background-color: #7c9b9a;
    color: white;
  }
}

#teacher-ex-card-button-add {
  position: fixed;
  right: 50px;
  bottom: 50px;
  text-decoration: none;
}

.submit-button{
  background-color: $primary;
  color: white;
  font-weight: 600;
  min-height: 20px;
  min-width: 90px;
  font-size: 16px;
  border-radius: 16px;
  max-height: 80px;
  margin-bottom: 0;
  padding: 8px 16px;
  border: none;
  width: 160px;
  &:hover {
    background-color: #7c9b9a;
  }
}
