.teacher-ex-card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #83b7b5;
  color: rgb(238, 238, 238);
  font-weight: 600;
  min-height: 20px;
  min-width: 90px;
  font-size: 18px;
  border-radius: 16px;
  max-height: 80px;
  margin-bottom: 0;
  padding: 12px 32px;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 1px 2px 2px rgba(10, 10, 10, 0.3);
  &:hover {
    background-color: #7c9b9a;
    color: rgb(238, 238, 238);
  }
}

.card-result button {
  background-color: $primary;
  border-color: $primary;
  color: white;
  &:hover {
    background-color: #7c9b9a;
    color: white;
  }
}

#teacher-ex-card-button-add {
  position: fixed;
  right: 50px;
  bottom: 150px;
  text-decoration: none;
}

.lw-button {
  background-color: $primary;
  color: white;
  font-weight: 600;
  border-radius: 16px;
  margin-bottom: 0;
  padding: 8px 16px;
  border: none;
  box-shadow: 1px 2px 2px rgba(10, 10, 10, 0.3);
  &:hover {
    background-color: #7c9b9a;
    cursor: pointer;
  }
}

.lw-btn-sm {
  min-height: 20px;
  min-width: 80px;
  font-size: 16px;
  max-height: 80px;
  width: 124px;
}

.lw-btn-lg {
  min-height: 20px;
  min-width: 90px;
  max-height: 80px;
  width: 160px;
}

.play-button {
  // color: $primary;
  // &:hover {
  //   color: #7c9b9a;
  //   cursor: pointer;
  // }
}

.exercise-button {
  opacity: 1 !important;
  background-color: #83b7b5;
  color: rgb(238, 238, 238);
  font-weight: 600;
  font-size: 18px;
  border-radius: 16px;
  margin-bottom: 0;
  width: 50%;
  padding: 12px 32px;
  text-decoration: none;
  box-shadow: 1px 2px 2px rgba(10, 10, 10, 0.3);
  cursor: pointer;
  &:hover {
    background-color: #7c9b9a;
    color: rgb(238, 238, 238);
  }
}

.music_notes {
  display: none;
}

$purplish-white: #efeefc;
$hover-purple: #252536;

.note-input-button {
  position: relative;
  min-width: 50px;
  padding: 4px 8px 2px 8px;
  border: none;
  font-family: $note-font;
  font-size: 28px;

  background-color: $purple;
  color: $purplish-white;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  border-radius: 5px;
  border: none;
  box-shadow: 0.8px 2px rgba(33, 37, 41, 0.4);
  &:hover {
    background-color: $hover-purple;
    // color: $purple;
    // box-shadow: 0.8px 2px #212529;
  }
  &.selected {
    background-color: $purplish-white;
    color: $purple;
    box-shadow: 0.8px 2px 2px 2px rgba(33, 37, 41, 0.507);
    // border: 1px solid $purple;
  }
  .keyboard-shortcut {
    font-size: 10px;
    position: absolute;
    bottom: 2px;
    right: 8px;
  }
}

.play-button {
  background-color: $purple;
  color: $purplish-white;
  border-radius: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $font-size-base*1.5;
  cursor: pointer;
  &:hover {
    background-color: $hover-purple;
    // color: $purple;
  }
}
