.navbar-lewagon {
  justify-content: space-between;
  background: $main-color;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40p;
}

.nav-item > a {
  position: relative;
}

.navbar-brand {
  font-family: $logo-font;
}

.navbar-light .navbar-brand {
  font-size: 26px;
  padding: 0;
}
