.player-card {
  border-radius: 16px;
  box-shadow: 2px 2px 4px 4px #4e4c6724;
  padding: 8px;
  background-color: #eceaff;
  margin: 16px;
  // min-height: 250px;
  // min-width: 500px;
  // max-height: 3000px;
  // max-width: 600px;
}
