$select: rgb(236, 38, 38);
$hover: #3125e0;
div#score {
  // background-color: $body-color;
  overflow: scroll;
}
.vf-stavenote:hover path {
  stroke: $hover;
  fill: $hover;
  filter: drop-shadow(0 0 0.1rem $hover);
}

.vf-stavenote.selected path {
  stroke: $select;
  fill: $select;
}

.vf-stavenote:focus {
  stroke: $select;
  fill: $select;
  outline: none;
}

.vf-stavenote.highlight path{
  stroke: rgb(46, 126, 216);
  fill: rgb(46, 126, 216);
  filter: drop-shadow(0 0 0.1rem rgb(46, 126, 216));
}

path.stave-highlight {
  stroke: rgb(46, 126, 216);
  stroke-width: 2;
  filter: drop-shadow(0 0 0.2rem rgb(46, 126, 216));
}

::-webkit-scrollbar {
  display: none;
}
