<%= link_to exercise_path(ex), class: "remove-link-style w-50" do %>
  <div class="exercise-card d-flex flex-column justify-content-center align-items-center mt-2">
    <p class="mb-0"> <%= ex.name %></p>
  </div>
<% end %>
