<div class="modal fade" id="helpModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-body z-10 modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body h-100 p-0">
        <div class="card-result h-100 p-5">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          </button>
          <%= image_tag "help_card.png", class: 'h-100' %>
        </div>
      </div>
    </div>
  </div>
</div>
