<h2 class="mt-5 ms-2 fw-bolder">Level <%= g.first %></h2>
<p class="ms-2"><%= g.flatten.second.description %></p>
<div class="d-flex flex-wrap">
  <% if query == 'status' %>
    <%= render("exercise_index_card", {ex: g.flatten.second})%>
  <% else %>
    <% g.second.each do |ex|%>
      <%= render("exercise_index_card", {ex: ex})%>
    <% end %>
  <% end %>
</div>
