<div class="m-3">
  <h1 class="text-center"><%= @exercise.name %></h1>
  <div class="player_card shadow p-5">
    <div class="d-flex justify-content-end">
      <p class="lw-button lw-btn-sm text-center mb-0 mx-2">Play Melody</p>
      <p class="lw-button lw-btn-sm text-center mb-0 mx-2">Check</p>
      <p class="lw-button lw-btn-sm text-center mb-0 mx-2">Submit</p>
       <%# example of how it can work %>
      <%#= link_to "submit", @action[:path], method: @action[:method] %>
    </div>
      <%= image_tag "placeholder.jpeg", class: "music-sheet-placeholder mx-auto mt-4" %>
  </div>
</div>
