<div data-controller="score"
     id="score-controller"
<<<<<<< HEAD
     data-score-notes-value="<%= music.notes %>">
=======
     data-score-notes-value="<%= @attempt_music.notes %>"
     data-score-bpm-value="<%= @attempt_music.bpm %>">
>>>>>>> 5f278ef417e9e62eb473e9e9e57f87c4bacd4381
  <div id="score" data-score-target="score"></div>
  <p data-score-target="output"></p>
</div>
