<div data-controller="score"
     id="score-controller"
     data-score-notes-value="<%= @attempt_music.notes %>"
     data-score-lengths-value="<%= @attempt_music.note_values %>">
  <div id="score" data-score-target="score"></div>
  <p data-score-target="output"></p>
</div>
