<div data-controller="score"
     id="score-controller"
     data-score-notes-value="<%= music.notes %>"
     data-score-bpm-value="<%= music.bpm %>">
    <button class="note-input-button" data-action="click->score#setNoteValue" id="note-value-16" data-note-value="16">
      ğ…¢
      <div class="keyboard-shortcut">2</div>
    </button>
    <button class="note-input-button" data-action="click->score#setNoteValue" id="note-value-16" data-note-value="16">
      ğ…¡
      <div class="keyboard-shortcut">3</div>
    </button>
    <button class="note-input-button" data-action="click->score#setNoteValue" id="note-value-8" data-note-value="8">
      ğ… 
      <div class="keyboard-shortcut">4</div>
    </button>
    <button class="note-input-button" data-action="click->score#setNoteValue" id="note-value-4" data-note-value="4">
      ğ…Ÿ
      <div class="keyboard-shortcut">5</div>
    </button>
    <button class="note-input-button" data-action="click->score#setNoteValue" id="note-value-2" data-note-value="2">
      ğ…
      <div class="keyboard-shortcut">6</div>
    </button>
    <button class="note-input-button" data-action="click->score#setNoteValue" id="note-value-1" data-note-value="1">
      ğ…—
      <div class="keyboard-shortcut">7</div>
    </button>
  <div class="d-flex justify-content-center align-items-center">
    <button
      id="play-attempt"
      class='play-button'
      title='play my input'
      data-action='click->score#playAttempt'
      data-play-html="<i class='far fa-play-circle'></i>"
      data-stop-html="<i class='far fa-stop-circle'></i>"
      disabled>
        <i class='far fa-play-circle'></i>
    </button>

    <div id="score" data-score-target="score"></div>
    <p data-score-target="output"></p>
  </div>
</div>
