<h1 class="text-center mt-5">Exercises</h1>
<% colors = ["color:gray", "color:yellow", "color:green"] %>
<div class="row justify-content-center mb-5">
  <% @exercises.each do |ex| %>
    <%= render(
      "exercise_index_card",
      {
        ex: ex,
        color: ex.attempt_music(current_user) ? colors[Music.statuses[ex.attempt_music(current_user).status]] : colors[2]
      }
    )%>
  <% end %>
</div>
